aclocal.m4
autom4te.cache
autoregen.sh
config.*
libtool
INSTALL
Makefile.in
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
*~
Makefile
old/
src/.deps/
src/.libs/
src/Makefile
src/libgstladspavid.la
src/libgstladspavid_la-gstladspavid.lo
*.la
*.lo
*.o
